@use "../base/typography";


.blog-post-prev {
    display: grid;
    justify-items: start;
    row-gap: 1.2rem;
    color: var(--color-gray-950);

    &__tag {
        @include typography.tag-font();
    }

    &__published {
        @include typography.date-font();
    }

    &__title {
        @include typography.title-font();
    }

    &__abstract {
        color: var(--color-gray-500);
    }
}
