@use "../base/typography";


.blog-post-author {
    @include typography.footer-font();

    display: flex;
    align-items: center;
    column-gap: 1.2rem;

    &__avatar {
        height: 100%;
    }
    
    &__name {}
}
